# Maven build output
target/

# Eski manuel derleme çıktıları
out/

# Lokal IDE build klasörleri
build/
.build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS çöpü
.DS_Store
Thumbs.db
